@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;
    color: #3A3A3A;
    background: #FFFFFF;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
h1, .h1 {
    font-family: "Flama", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 800;
    margin: 0;
    font-size: 16px;
    line-height: 23px;
}
